body {
    font-family: 'Gantari', sans-serif;
    font-family: 'Gentium Book Plus', serif;
    background-color: bisque;
    text-align: center;
}
section {
    display: inline-block;
    border: 2px solid blue;
    padding: 50px;
    margin: 50px;
    text-align: left;
    position: relative;
}
h1 {
    text-align: center;
    padding-bottom: 50px;
}
